.pl-img {
    border: 4px solid ivory;
    z-index: 100;
    box-shadow: 5px 5px 12px black;
    margin-bottom: 50px;

 }

 .pl-img:hover {
    border: 5px solid #90dbee;
 }

 .grid-template-columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 350px);
   
 }

 .describe {
    margin-right: 50px;
    margin-left: 50px;
 }