#about {
    margin-top: 50px;
}

img {
border: none;
z-index: 10;


}

#coverPhoto {
    position: relative;
    z-index: -1;
    box-shadow: 5px 5px 12px black;
    border-radius: 15px;
}

.fixed {
    position: fixed;
}

.shadow {
    box-shadow: 5px 5px 12px black;
}

.space-under {
    margin-bottom: 20px;
}

.space-over {
    margin-top: 20px;
}

.flex {
    display: flex;
}

.block {
    display: block;
}