ul {
    display: flex;
    line-height: 30px;
}

li {
    list-style: none;
    margin-right: 20px;
}

.who-am-i-a {
    font-size: 30px;
    text-decoration: none;
    color: black;
    margin-right: 50px;
    font-weight: bold;
}

.animate-list {
    color: rgb(228, 228, 228);
    justify-self: flex-end;
  }

.animate-list:hover {
    background-color: black;
    color: white;
    font-size: 24px;
    transition: 1.3s;
}
